.wrapper {
  display: flex;
  justify-content: space-between;
  .card {
    width: 300px;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #607d8b;
    background: #9e9e9e;
  }
  .red {
    border-bottom: 2px solid red;
  }
  .green {
    border-bottom: 2px solid green;
  }
  .yellow {
    border-bottom: 2px solid #ffc107;
  }
}
